* {
  margin: 0;
  padding: 0;
}
button {
  outline: none;
  border: none;
  background: transparent;
}
.song__tag {
  padding: 25px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin: 20px 0;
  align-items: center;
}
.song_order {
  padding: 0 30px;
}
.detail__song .icon__run {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.detail__song .icon__run:hover {
  cursor: pointer;
}
.detail__song {
  align-items: center;
  text-align: center;
  width: 300px;
}
.detail__song span {
  font-family: "Enriqueta", arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.detail__song img {
  object-fit: cover;
  border-radius: 5px;
}
.author___song {
  margin: auto;
  width: 200px;
}
.author___song p {
  font-family: Georgia, serif;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.6;
}
.times__song {
  color: #7c795d;
  font-family: "Enriqueta", arial, serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 48px;
  margin: auto;
  width: 200px;
}
.like__song {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #e91e63;
}
