* {
  margin: 0;
  padding: 0;
}
.content__music__player {
}
.navbar__song {
  height: 120px;
}
.index__song {
  position: relative;
  top: 90px;
  left: 10px;
  color: #7c795d;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
